<div class="coverArticle">
  <div class="textArticle">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    SHOPPING CART
  </div>
</div>

<div class="container">
  <div class="panel panel-default shoppingCartPanel">
    <!-- Default panel contents -->
    <div class="panel-heading">ShoppingCart</div>
    <div class="panel-body">


      <div class="list-group" ng-show="vm.orders">
        <div class="order" ng-repeat=" order in vm.orders ">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">
              <span class="glyphicon glyphicon-tags"></span>
              <span class="index">{{ $index+1 }}</span>
              <span class="date">{{ order.purchaseDate | date:"MM/dd/yyyy 'at' h:mma"}}</span>
            </h4>
          </a>

          <div class="list-group-item">
            <p class="list-group-item-text">
              <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" active="vm.getLength(order,1)" disable=" !order.progresses[0] ">
                  <uib-tab-heading>
                    <i class="fa fa-calculator"></i> Calculation
                  </uib-tab-heading>

                </uib-tab>
                <uib-tab index="1" active="vm.getLength(order,2)" disable=" !order.progresses[1] ">
                  <uib-tab-heading>
                    <i class="fa fa-check-square-o"></i> Acceptance
                  </uib-tab-heading>
                  I've got an HTML heading, and a select callback. Pretty cool!
                </uib-tab>
                <uib-tab index="2" active="vm.getLength(order,3)" disable=" !order.progresses[2] ">
                  <uib-tab-heading>
                    <i class="fa fa-exchange"></i> Transaction
                  </uib-tab-heading>
                  I've got an HTML heading, and a select callback. Pretty cool!
                </uib-tab>
                <uib-tab index="3" active="vm.getLength(order,4)" disable=" !order.progresses[3] ">
                  <uib-tab-heading>
                    <i class="fa fa-check-square"></i> Validation
                  </uib-tab-heading>
                  I've got an HTML heading, and a select callback. Pretty cool!
                </uib-tab>
                <uib-tab index="4" active="vm.getLength(order,5)" disable=" !order.progresses[4] ">
                  <uib-tab-heading>
                    <i class="fa fa-tasks"></i> In Progress
                  </uib-tab-heading>
                  I've got an HTML heading, and a select callback. Pretty cool!
                </uib-tab>
                <uib-tab index="5" active="vm.getLength(order,6)" disable=" !order.progresses[5] ">
                  <uib-tab-heading>
                    <i class="fa fa-bus"></i> Delivered
                  </uib-tab-heading>
                  I've got an HTML heading, and a select callback. Pretty cool!
                </uib-tab>
                <uib-tab index="6" active="vm.getLength(order,7)" disable=" !order.progresses[6] ">
                  <uib-tab-heading>
                    <i class="fa fa-smile-o"></i> Success!
                  </uib-tab-heading>
                  I've got an HTML heading, and a select callback. Pretty cool!
                </uib-tab>
              </uib-tabset>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" ng-show="vm.orders.length==0">
      <div class="alert alert-info" role="alert">
        ไม่มีออเดอร์
      </div>
    </div>

    <hr/>


    <div class="container-fluid" ng-show="!shoppingCart.selectedProducts.length>0">
      <div class="alert alert-warning" role="alert">
        ไม่มีสินค้าอยู่ในตะกร้า
      </div>
    </div>
    <form name="editform" novalidate ng-show="shoppingCart.selectedProducts.length>0">
      <div class="form-group">
        <!-- Table -->
        <table class="table table-striped">
          <tr>
            <th>#</th>
            <th translate>listProduct.name</th>
            <th width="30%" class="text-right" translate>listProduct.amount</th>
            <th class="text-right" translate>listProduct.price</th>
            <th width="75" class="text-right" translate>listProduct.remove</th>
          </tr>
          <tr ng-repeat="selectedProduct in shoppingCart.selectedProducts">
            <td>{{$index+1}}</td>
            <td>{{selectedProduct.product.name}}</td>
            <td class=" col-xs-1">
              <div class="input-group">
                <input type="number" class="form-control" ng-model="selectedProduct.amount">
                <span class="input-group-addon"> x {{ selectedProduct.product.totalPrice }} </span>
              </div>
            </td>
            <td class="text-right">{{vm.totalEach($index) |number:2}}</td>
            <td class="text-right">
              <button ng-click="vm.removeProduct($index)">
                <span  class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
          <tr>
            <th></th>
            <th><strong translate>listProduct.total</strong></th>
            <th></th>
            <th></th>
            <th class="text-right">{{vm.total() | number :2}}</th>
          </tr>

        </table>
        <div class="panel-body text-center">
          <a href ng_click="vm.updateCart()" class="btn btn-primary ">update cart</a>
          <a href ng_click="vm.saveCart(vm.cart)" class="btn btn-primary ">save cart</a>
        </div>
      </div>
    </form>
    <div class="alert alert-success alert-dismissible" role="alert" ng-show="cartUpdateSuccess">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <strong>Success!</strong> Success edit the product
    </div>
  </div>
</div>

